@import 'reset';

body {
  background: black;
  color: white;
  font-family: "Courier New";
  text-align: center;
}

.button {
  margin-top: 90%;
  width: 90%
}

.text {
  margin-top: 43%;
}

.input {
  margin-top: 5%;
}