@import 'reset';

body {
  background: black;
  color: white;
  font-family: "Courier New";
  text-align: center;
}

.text {
  margin-top: 10%;
}

.menu {
  margin-top: 90%;
  width: 90%
}

.input {
  margin-top: 20%;
}

.toplayer {
  margin-top: 5%;
}